<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main') }}">My Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main') }}">Главная</a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-end">
        {% if current_user.is_authenticated %}
        <nav>
            <ul class="nav">
                {% if current_user.role == 1 %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_product') }}">Добавить товар</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_category') }}">Добавить категорию</a>
                </li>
                {% endif %}
                <li class="nav-item"><a id="cart-count" class="nav-link" href="#">Корзина<span>({{ current_user.orders.__len__() }})</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Выход</a></li>
            </ul>
        </nav>
        {% else %}
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Вход</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Регистрация</a></li>
            </ul>
        </nav>
        {% endif %}
    </div>

</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="{{url_for("static", filename="js/header.js")}}"></script>

<div id="cart-popup" class="popup">
    <h2>Корзина</h2>
    {% if current_user.orders %}
    {% if current_user.orders.__len__() > 4 %}
    <a class="btn btn-primary" href="{{ url_for('order') }}">Перейти к оформлению</a>
    {% endif %}
    <table class="table">
        <!-- Заголовки колонок -->
        <thead>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <!-- Содержимое таблицы -->
        <tbody>
        {% for order in current_user.orders %}
        <tr>
            <th>{{ order.product.name}}</th>
            <th>{{ order.quantity }}</th>
            <th>{{ order.quantity * order.product. price}}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ url_for('order') }}">Перейти к оформлению</a>
    {% else %}
    <p>еще нету заказов</p>
    {% endif %}
</div>

</body>

</html>