<div class="row">
    <div class="col-lg-8 mx-auto">
        <h2>Отзывы покупателей</h2>
        <div class="list-group">
            {% for review in reviews %}
            <div class="list-group-item">
                <div class="d-flex justibfy-content-between">
                    <h5>{{ review.author }}</h5>
                    <small>{{ review.date }}</small>
                </div>
                <p>{{ review.content }}</p>
                <div class="d-flex justify-content-end">
                    <small class="text-muted">{{ review.rating }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>